<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ravendb" value="https://www.myget.org/F/ravendb/api/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="RavenDB.*" />
    </packageSource>
    <packageSource key="ravendb">
      <package pattern="RavenDB.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
